body{
    font-family:serif;
    margin: 0%;
    background-color: white;
}
a{
    text-decoration: none;
}

nav{
    font-size: 20px;
    height: 100%;
    width: 250px;
    background-color:#af0a3c;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.2)
}

nav a:hover{
    color:#af0a3c;
    background-color:white;
}

nav li:hover{
    color:#af0a3c;
    background-color:white;
}

h3{
    color: white;
    text-align: center;
}

a {
    color: white;
    font-size: 20px;
}
li{
    color: white;
    font-size: 20px;
    padding: 12px 10px 12px 32px;
}
 

.principal{
    text-align: center;
}

img{
    border-radius: 2px;
    width: 40%;
    margin-left: 200px;
  background-color: white;
}

fieldset{
    background-color: #af0a3c;
    border-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
    margin-left: 150px;
}

h4{
    font-family:serif;
    font-size: 22px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    color:#af0a3c;
}

table, th, td{
    margin-left: 590px;
    margin-top: 60px;
    margin-bottom: 120px;
    border: 1px solid #af0a3c;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
th{
    color: #af0a3c;
}

#footer{
    width: 3750px;
    
}
