body{
    font-family:serif;
    margin: 0%;
    background-color: white;
}
a{
    text-decoration: none;
}

nav{
    font-size: 18px;
    height: 100%;
    width: 250px;
    background-color:#af0a3c;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.2)
}

nav a:hover{
    color:#af0a3c;
    background-color:white;
}

nav li:hover{
    color:#af0a3c;
    background-color:white;
}

h3{
    color: white;
    text-align: center;
}

a {
    color: white;
    font-size: 18px;
}
li{
    color: white;
    font-size: 18px;
    padding: 12px 10px 12px 32px;
}

.header{
    width: 3000px;
    margin-left: 400px;
    margin-bottom: 100px;
}


#post{
    border-radius: 2px;
    width: 33%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content{
    text-align: center;
}

h2{
    font-family:serif;
    font-size: 28px;;
    margin-left: 580px;
    margin-right: 400px;
    color: #af0a3c
}


form{
    margin-left: 200px;
    margin-bottom: 82px;
    font-size: 25px;
}

#titulo{
    font-size: 24px;
    font-family:serif;
    color:#af0a3c;
    
}
fieldset{
    border-width: 0;
    background-color:white;
    font-family:serif;
    color:#af0a3c;
}

input, select, textarea, button{
    border-radius: 5%;
}

label{
    font-size: 20px;
    margin-right: auto;
    top:0%
}

input[type=email]{
    padding: 5px 14px;
    margin: 5px 0;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;}


input{
    padding: 5px 12px;
    margin: 5px 0;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;
    border: 1px solid #af0a3c;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

input:focus, select:focus, textarea:focus{
    background-color:rgb(255, 214, 226) ;
}

button{
    background-color: #af0a3c;
    color: white;
    margin-top: 0.8em;
    font-size: 18px;
}

button:hover{
    background-color: rgb(251, 174, 197);
    color:#af0a3c;
}

.img{
    border-radius: 2px;
    width: 83.57%;
    margin-left: 250px;
    
}